## Run online on Julie's Laptop

In [1]:
import pandas as pd
import numpy as np
import os

## Pays riche

In [3]:
path = "C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data"
# get the name of the documents stored in path
names = os.listdir(path)
names

['A prendre',
 'autres',
 'Cambodge_dataset_30_janv.csv',
 'final_dataset.csv',
 'Liechtensteindataset_2_fevr.csv',
 'Liechtensteindataset_fin_1_fevr.csv',
 'Liechtensteindataset_fin_31_janv.csv',
 'Liechtensteindataset_jusqua_espagne_1_fevr.csv',
 'Liechtensteindataset_jusqua_rome_afrique_du_sud_31_janv.csv',
 'Liechtenstein_dataset_fin.csv',
 'Luxembourg_dataset.csv',
 'Macao_dataset_2_fevr.csv',
 'Macao_dataset_sans_2_fevr.csv',
 'Monaco_dataset_fin_2_fevr.csv',
 'Monaco_dataset_jusqua_riga_2_fevr.csv',
 'Philippines_dataset_NY_LA_2_fevrier.csv',
 'PIB',
 'Qatardataset.csv',
 'to concate']

In [2]:
names.remove('autres')
names.remove('PIB')
names.remove('to concate')
names.remove('Liechtenstein_dataset_fin.csv')
names.remove('Cambodge_dataset_30_janv.csv')
names.remove('Philippines_dataset_NY_LA_2_fevrier.csv')
names.remove('A prendre')

In [9]:
# concatenate all the csv files in one
df = pd.concat([pd.read_csv(os.path.join(path, name)) for name in names]).reset_index()
df= df.drop(columns=['index'])
df= df.drop(columns=['Unnamed: 0'])
df.drop_duplicates()
df

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",653 €,16h 30m,07:20,07:50,1 escale,Turkish Airlines
1,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",696 €,18h 35m,15:20,17:55,1 escale,Qatar Airways
2,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",798 €,17h 35m,11:20,12:55,1 escale,Eva Air
3,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",832 €,16h 55m,12:15,13:10,1 escale,Cathay Pacific
4,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",465 €,31h 20m,21:20,12:40,2 escales,Plusieurs compagnies
...,...,...,...,...,...,...,...,...,...,...
2395,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 945 €,22h 35m,12:15,20:50,1 escale,Cathay Pacific
2396,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 312 €,33h 35m,12:30,08:05,3 escales,Plusieurs compagnies
2397,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 303 €,34h 10m,13:20,09:30,3 escales,Plusieurs compagnies
2398,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 292 €,34h 40m,14:15,10:55,2 escales,Plusieurs compagnies
2399,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 879 €,23h 55m,21:00,06:55,1 escale,Korean Air

In [10]:
df.to_csv('data/A utiliser/dataset_rich_VPN.csv')
# df.to_csv('C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data/A prendre/dataset_rich_VPN.csv')

## Pays pauvre

### Fevrier

In [17]:
janvier_PaysPauvre = pd.read_csv("data/A utiliser/Janvier_PaysPauvre.csv")
fevrier_PaysPauvre = pd.read_csv("data/A utiliser/Fevrier_PaysPauvre_complet.csv")
df_poor = pd.concat([janvier_PaysPauvre,fevrier_PaysPauvre]).reset_index()
df_poor= df_poor.drop(columns=['index'])
df_poor= df_poor.drop(columns=['Unnamed: 0'])
df_poor= df_poor.drop(columns=['Unnamed: 0.1'])
df_poor

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",510 €,19h 10m,09:30,12:40,1 escale,Etihad Airways
1,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",762 €,13h 45m,11:25,09:10,Direct,Air France
2,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",700 €,19h 20m,12:30,15:50,1 escale,Thai Airways
3,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",799 €,18h 55m,14:25,17:20,1 escale,Emirates
4,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",816 €,18h 35m,15:20,17:55,1 escale,Qatar Airways
...,...,...,...,...,...,...,...,...,...,...
2395,Philippines,02/02/2023,"Aéroport Adolfo-Suárez de Madrid-Barajas, Madr...",Aéroport international Reina Sofía de Tenerife...,51 €,11h 10m,06:10,16:20,1 escale,Ryanair
2396,Philippines,02/02/2023,"Aéroport Adolfo-Suárez de Madrid-Barajas, Madr...",Aéroport international Reina Sofía de Tenerife...,86 €,6h 45m,17:15,23:00,1 escale,Plusieurs compagnies
2397,Philippines,02/02/2023,"Aéroport Adolfo-Suárez de Madrid-Barajas, Madr...",Aéroport international Reina Sofía de Tenerife...,95 €,6h 15m,13:45,19:00,1 escale,Plusieurs compagnies
2398,Philippines,02/02/2023,"Aéroport Adolfo-Suárez de Madrid-Barajas, Madr...",Aéroport international Reina Sofía de Tenerife...,57 €,11h 30m,07:35,18:05,1 escale,Plusieurs compagnies
2399,Philippines,02/02/2023,"Aéroport Adolfo-Suárez de Madrid-Barajas, Madr...",Aéroport international Reina Sofía de Tenerife...,53 €,12h 55m,06:10,18:05,1 escale,Ryanair

In [18]:
df_poor.groupby('VPN').count()

,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
VPN,,,,,,,,,
Bangladesh,480,480,480,480,480,480,480,480,480
Cambodge,480,480,480,480,480,480,480,480,480
Inde,480,480,480,480,480,480,480,480,480
Moldavie,480,480,480,480,480,480,480,480,480
Philippines,480,480,480,480,480,480,480,480,480

In [19]:
df_poor.to_csv('data/A utiliser/PaysPauvre_complet.csv')
# df_poor.to_csv('C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data/A prendre/Fevrier_PaysPauvre_complet.csv')

## Concatenation des 2

In [12]:
PaysPauvre = pd.read_csv("data/A utiliser/PaysPauvre_complet.csv")
PaysRich = pd.read_csv("data/A utiliser/dataset_rich_VPN.csv")
paysRich_fevrier = pd.read_csv("data/A utiliser/dataset_riche_fevrier.csv")

df = pd.concat([PaysPauvre,PaysRich,paysRich_fevrier]).reset_index()
df= df.drop(columns=['index'])
df= df.drop(columns=['Unnamed: 0'])
df

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",510 €,19h 10m,09:30,12:40,1 escale,Etihad Airways
1,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",762 €,13h 45m,11:25,09:10,Direct,Air France
2,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",700 €,19h 20m,12:30,15:50,1 escale,Thai Airways
3,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",799 €,18h 55m,14:25,17:20,1 escale,Emirates
4,Cambodge,30/01/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",816 €,18h 35m,15:20,17:55,1 escale,Qatar Airways
...,...,...,...,...,...,...,...,...,...,...
5995,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",951 €,28h 20m,20:35,10:55,3 escales,Plusieurs compagnies
5996,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",842 €,33h 25m,15:30,10:55,2 escales,Plusieurs compagnies
5997,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 238 €,23h 25m,21:35,07:00,1 escale,Emirates
5998,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",924 €,31h 25m,16:10,09:35,2 escales,British Airways
5999,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 246 €,23h 25m,21:35,07:00,1 escale,Plusieurs compagnies

In [ ]:
df.groupby('VPN').count()

In [14]:
df.to_csv('data/A utiliser/dataset_avec_nouvelles_dates_riche_sans_PIB.csv')

## Concatenation pour les nouvelles dates

In [5]:
path = "data/fin fevrier/"
# get the name of the documents stored in path
names_dataset = os.listdir(path)

In [6]:
names_dataset

['Liechtenstein_dataset.csv',
 'Luxembourg_dataset.csv',
 'Macao_dataset.csv',
 'Monaco_dataset.csv',
 'Qatar_dataset_espagne.csv',
 'Qatar_dataset_fin.csv']

In [9]:
# concatenate all the csv files in one
df = pd.concat([pd.read_csv(os.path.join(path, name)) for name in names_dataset]).reset_index()
df= df.drop(columns=['index'])
df= df.drop(columns=['Unnamed: 0'])
df.drop_duplicates()
df

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Liechtenstein,27/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",708 €,19h 20m,12:30,15:50,1 escale,Thai Airways
1,Liechtenstein,27/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",625 €,22h 0m,07:30,13:30,2 escales,China Airlines
2,Liechtenstein,27/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",801 €,17h 35m,11:20,12:55,1 escale,Eva Air
3,Liechtenstein,27/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",816 €,19h 10m,09:30,12:40,1 escale,Etihad Airways
4,Liechtenstein,27/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",625 €,25h 5m,07:30,16:35,2 escales,China Airlines
...,...,...,...,...,...,...,...,...,...,...
1195,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",951 €,28h 20m,20:35,10:55,3 escales,Plusieurs compagnies
1196,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",842 €,33h 25m,15:30,10:55,2 escales,Plusieurs compagnies
1197,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 238 €,23h 25m,21:35,07:00,1 escale,Emirates
1198,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",924 €,31h 25m,16:10,09:35,2 escales,British Airways
1199,Qatar,28/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 246 €,23h 25m,21:35,07:00,1 escale,Plusieurs compagnies

In [11]:
df.to_csv('data/A utiliser/dataset_riche_fevrier.csv')

## Concatenation finale

In [71]:
old_final_dataset = pd.read_csv("data/final_dataset.csv")
old_final_dataset= old_final_dataset.drop(columns=['Unnamed: 0'])
old_final_dataset= old_final_dataset.drop(columns=['PIB par habitant (€)'])

In [72]:
# 1200 lignes
df_riche_fevr = pd.read_csv("data/A utiliser/dataset_riche_fevrier.csv")
df_riche_fevr= df_riche_fevr.drop(columns=['Unnamed: 0'])
df_riche_fevr

# 600 lignes
df_27 = pd.read_csv("data/A utiliser/df_27.csv")
# 600 lignes
df_28 = pd.read_csv("data/A utiliser/df_28.csv")
# 1200 lignes
df_26 = pd.read_csv("data/A utiliser/df_26.csv")

In [73]:
# concatener les dataframes
df_new_dates = pd.concat([old_final_dataset, df_26,df_27,df_28, df_riche_fevr]).reset_index()
df_new_dates= df_new_dates.drop(columns=['index'])

In [74]:
# replace / with -
df_new_dates['Date'] = df_new_dates['Date'].str.replace('/', '-')
# convertir la colonne 'date' en un format de date
df_new_dates['Date'] = pd.to_datetime(df_new_dates['Date'], format='%d-%m-%Y')
df_new_dates['Date'].unique()
df_new_dates

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Cambodge,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",510 €,19h 10m,09:30,12:40,1 escale,Etihad Airways
1,Cambodge,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",762 €,13h 45m,11:25,09:10,Direct,Air France
2,Cambodge,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",700 €,19h 20m,12:30,15:50,1 escale,Thai Airways
3,Cambodge,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",799 €,18h 55m,14:25,17:20,1 escale,Emirates
4,Cambodge,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",816 €,18h 35m,15:20,17:55,1 escale,Qatar Airways
...,...,...,...,...,...,...,...,...,...,...
8395,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",951 €,28h 20m,20:35,10:55,3 escales,Plusieurs compagnies
8396,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",842 €,33h 25m,15:30,10:55,2 escales,Plusieurs compagnies
8397,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 238 €,23h 25m,21:35,07:00,1 escale,Emirates
8398,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",924 €,31h 25m,16:10,09:35,2 escales,British Airways
8399,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 246 €,23h 25m,21:35,07:00,1 escale,Plusieurs compagnies

In [75]:
# sort by date
df_new_dates = df_new_dates.sort_values(by=['Date', 'VPN']).reset_index()
df_new_dates= df_new_dates.drop(columns=['index'])
df_new_dates

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",511 €,19h 10m,09:30,12:40,1 escale,Etihad Airways
1,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",764 €,13h 45m,11:25,09:10,Direct,Air France
2,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",700 €,19h 20m,12:30,15:50,1 escale,Thai Airways
3,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",776 €,18h 55m,14:25,17:20,1 escale,Emirates
4,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",816 €,18h 35m,15:20,17:55,1 escale,Qatar Airways
...,...,...,...,...,...,...,...,...,...,...
8395,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",951 €,28h 20m,20:35,10:55,3 escales,Plusieurs compagnies
8396,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",842 €,33h 25m,15:30,10:55,2 escales,Plusieurs compagnies
8397,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 238 €,23h 25m,21:35,07:00,1 escale,Emirates
8398,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",924 €,31h 25m,16:10,09:35,2 escales,British Airways
8399,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 246 €,23h 25m,21:35,07:00,1 escale,Plusieurs compagnies

In [76]:
df_new_dates.to_csv('data/dataset_finale_avec_nouvelles_dates.csv')