## Run online on Julie's Laptop

In [6]:
import pandas as pd
import numpy as np
import os

## Pays riche

In [1]:
path = "C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data"
# get the name of the documents stored in path
names = os.listdir(path)
names

['A prendre',
 'autres',
 'Cambodge_dataset_30_janv.csv',
 'Liechtensteindataset_2_fevr.csv',
 'Liechtensteindataset_fin_1_fevr.csv',
 'Liechtensteindataset_fin_31_janv.csv',
 'Liechtensteindataset_jusqua_espagne_1_fevr.csv',
 'Liechtensteindataset_jusqua_rome_afrique_du_sud_31_janv.csv',
 'Liechtenstein_dataset_fin.csv',
 'Luxembourg_dataset.csv',
 'Macao_dataset_2_fevr.csv',
 'Macao_dataset_sans_2_fevr.csv',
 'Monaco_dataset_fin_2_fevr.csv',
 'Monaco_dataset_jusqua_riga_2_fevr.csv',
 'Philippines_dataset_NY_LA_2_fevrier.csv',
 'PIB',
 'Qatardataset.csv',
 'to concate']

In [2]:
names.remove('autres')
names.remove('PIB')
names.remove('to concate')
names.remove('Liechtenstein_dataset_fin.csv')
names.remove('Cambodge_dataset_30_janv.csv')
names.remove('Philippines_dataset_NY_LA_2_fevrier.csv')
names.remove('A prendre')

In [9]:
# concatenate all the csv files in one
df = pd.concat([pd.read_csv(os.path.join(path, name)) for name in names]).reset_index()
df= df.drop(columns=['index'])
df= df.drop(columns=['Unnamed: 0'])
df.drop_duplicates()
df

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",653 €,16h 30m,07:20,07:50,1 escale,Turkish Airlines
1,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",696 €,18h 35m,15:20,17:55,1 escale,Qatar Airways
2,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",798 €,17h 35m,11:20,12:55,1 escale,Eva Air
3,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",832 €,16h 55m,12:15,13:10,1 escale,Cathay Pacific
4,Liechtenstein,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",465 €,31h 20m,21:20,12:40,2 escales,Plusieurs compagnies
...,...,...,...,...,...,...,...,...,...,...
2395,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 945 €,22h 35m,12:15,20:50,1 escale,Cathay Pacific
2396,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 312 €,33h 35m,12:30,08:05,3 escales,Plusieurs compagnies
2397,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 303 €,34h 10m,13:20,09:30,3 escales,Plusieurs compagnies
2398,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 292 €,34h 40m,14:15,10:55,2 escales,Plusieurs compagnies
2399,Qatar,02/02/2023,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 879 €,23h 55m,21:00,06:55,1 escale,Korean Air

In [10]:
df.to_csv('data/A utiliser/dataset_rich_VPN.csv')
# df.to_csv('C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data/A prendre/dataset_rich_VPN.csv')

## Pays pauvre

## Fevrier

In [18]:
names_poor = os.listdir(path)
print(names_poor)

path_2="C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data/A prendre/"
names_poor_2 = os.listdir(path_2)
print("\n",names_poor_2)

['A prendre', 'autres', 'Cambodge_dataset_30_janv.csv', 'final_dataset.csv', 'Liechtensteindataset_2_fevr.csv', 'Liechtensteindataset_fin_1_fevr.csv', 'Liechtensteindataset_fin_31_janv.csv', 'Liechtensteindataset_jusqua_espagne_1_fevr.csv', 'Liechtensteindataset_jusqua_rome_afrique_du_sud_31_janv.csv', 'Liechtenstein_dataset_fin.csv', 'Luxembourg_dataset.csv', 'Macao_dataset_2_fevr.csv', 'Macao_dataset_sans_2_fevr.csv', 'Monaco_dataset_fin_2_fevr.csv', 'Monaco_dataset_jusqua_riga_2_fevr.csv', 'Philippines_dataset_NY_LA_2_fevrier.csv', 'PIB', 'Qatardataset.csv', 'to concate']

 ['dataset_rich_VPN.csv', 'Fevrier_PaysPauvre.csv', 'Fevrier_PaysPauvre_complet.csv']

In [16]:
philippine = pd.read_csv(path+"/Philippines_dataset_NY_LA_2_fevrier.csv")
Fevrier_PaysPauvre = pd.read_csv(path_2+"/Fevrier_PaysPauvre.csv")
df_poor = pd.concat([philippine,Fevrier_PaysPauvre]).reset_index()
df_poor= df_poor.drop(columns=['index'])
df_poor= df_poor.drop(columns=['Unnamed: 0'])
df_poor= df_poor.drop(columns=['Unnamed: 0.1'])
df_poor.head(2)

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies
0,Philippines,02/02/2023,"Aéroport international John F. Kennedy, New Yo...","Aéroport international de Los Angeles, Los Ang...",107 €,6h 26m,21:29,00:55,Direct,Delta Air Lines
1,Philippines,02/02/2023,"Aéroport international John F. Kennedy, New Yo...","Aéroport international de Los Angeles, Los Ang...",109 €,6h 27m,21:59,01:26,Direct,JetBlue

In [15]:
df_poor.to_csv('data/A utiliser/Fevrier_PaysPauvre_complet.csv')
# df_poor.to_csv('C:/Users/julie/OneDrive/Documents/ESILV/Semestre_9/Webscrapping/Projet/data/A prendre/Fevrier_PaysPauvre_complet.csv')

### Janvier