# Fusion les données PIB et les données des vols

In [1]:
import pandas as pd

In [2]:
# Chargement des données
df1 = pd.read_csv('data/dataset_finale_avec_nouvelles_dates.csv')
df2 = pd.read_excel('data/PIB_annuel_et_PPA_par_pays_utile.xlsx')

In [3]:
# Fusion des datasets selon la colonne 'ID'
df_merged = pd.merge(df1, df2, left_on='VPN', right_on="Pays")
df_merged=df_merged.drop("Pays", axis=1)
df_merged=df_merged.drop("Unnamed: 0", axis=1)
df_merged.head()

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies,PIB par habitant ($)
0,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",511 €,19h 10m,09:30,12:40,1 escale,Etihad Airways,4200
1,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",764 €,13h 45m,11:25,09:10,Direct,Air France,4200
2,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",700 €,19h 20m,12:30,15:50,1 escale,Thai Airways,4200
3,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",776 €,18h 55m,14:25,17:20,1 escale,Emirates,4200
4,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",816 €,18h 35m,15:20,17:55,1 escale,Qatar Airways,4200

In [4]:
# convert PIB par habitant ($) into PIB par habitant (€)
df_merged['PIB par habitant (€)'] = df_merged['PIB par habitant ($)'] * 0.85
df_merged=df_merged.drop("PIB par habitant ($)", axis=1)
df_merged

,VPN,Date,Depart,Arrivé,Prix,Temps de vol,Heure de départ,Heure d'arrivé,Nombre d'escales,Compagnies,PIB par habitant (€)
0,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",511 €,19h 10m,09:30,12:40,1 escale,Etihad Airways,3570.0
1,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",764 €,13h 45m,11:25,09:10,Direct,Air France,3570.0
2,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",700 €,19h 20m,12:30,15:50,1 escale,Thai Airways,3570.0
3,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",776 €,18h 55m,14:25,17:20,1 escale,Emirates,3570.0
4,Bangladesh,2023-01-30,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport international de Narita, Tokyo, Japon",816 €,18h 35m,15:20,17:55,1 escale,Qatar Airways,3570.0
...,...,...,...,...,...,...,...,...,...,...,...
8395,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",951 €,28h 20m,20:35,10:55,3 escales,Plusieurs compagnies,106165.0
8396,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",842 €,33h 25m,15:30,10:55,2 escales,Plusieurs compagnies,106165.0
8397,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 238 €,23h 25m,21:35,07:00,1 escale,Emirates,106165.0
8398,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",924 €,31h 25m,16:10,09:35,2 escales,British Airways,106165.0
8399,Qatar,2023-02-28,"Aéroport de Paris Charles de Gaulle, Paris, Fr...","Aéroport Kingsford Smith de Sydney, Sydney, No...",1 246 €,23h 25m,21:35,07:00,1 escale,Plusieurs compagnies,106165.0

In [6]:
df_merged.to_csv('data/dataset_finale_avec_nouvelles_dates_et_PIB.csv')